

/* =======================================================

   KARTU IDENTITAS SANTRI

   ======================================================= */



.kartu-santri{

    display:none;



    margin-top:15px;



    background:#FFFFFF;



    border-radius:20px;



    padding:24px;



    border:1px solid #e2e8f0;



    box-shadow:

        0 8px 25px rgba(0,0,0,.06);

}

.kartu-header{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:20px;

    padding-bottom:15px;

    border-bottom:2px dashed #dbeafe;

}



.kartu-header i{

    font-size:2rem;

    color:#1a5d1a;

}



.kartu-header h3{

    margin:0;

    color:#1a5d1a;

    font-size:1.2rem;

}



.kartu-header p{

    margin:2px 0 0;

    color:#64748b;

    font-size:.80rem;

}



.info-box:hover{

    transform:translateY(-2px);

    box-shadow:0 4px 12px rgba(0,0,0,.08);

}



.info-label{

    font-size:.75rem;

    font-weight:700;

    color:#64748b;

    margin-bottom:5px;

    text-transform:uppercase;

}



.info-value{

    font-size:1rem;

    font-weight:700;

    color:#1e293b;

    word-break:break-word;

}



.status-aktif{

    color:#16a34a;

    font-weight:700;

}



.info-box{

    background: #F5FFFA;

    border: 1px solid #d1fae5;

    border-radius: 12px;

    padding: 15px;

    transition: .3s;

}



.panel-card{



    background:linear-gradient(

        135deg,

        #ffffff,

        #f8fafc

    );



    border:1px solid #e2e8f0;

    border-radius:20px;



    padding:24px;



    box-shadow:

        0 8px 25px rgba(0,0,0,.06);



    width:100%;

    box-sizing:border-box;



    transition:.3s;

}



.panel-card:hover{



    box-shadow:

        0 10px 30px rgba(0,0,0,.08);



}


