
   * { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Quicksand', sans-serif; }
        html { scroll-behavior: smooth; }
        body { background-color: var(--light-bg); color: var(--text-dark); min-height: 100vh; display: flex; flex-direction: column; }
        h1, h2, h3, h4, h5, h6 { font-weight: 700; }
        
/* ==========================================
   LOGIN ADMIN
========================================== */

body{
    margin:0;
    padding:0;
    font-family:'Segoe UI',sans-serif;
    background:#f4f6f9;
}

/* Container */

.login-container{
    max-width:420px;
    margin:50px auto;
    padding:25px;
}

/* Card */

.login-card{
    background:#fff;
    border-radius:18px;
    box-shadow:0 8px 25px rgba(0,0,0,.12);
    overflow:hidden;
}

/* Header */

.login-header{
    background:#005b1f;
    color:#fff;
    text-align:center;
    padding:30px 20px;
}

.login-header img{
    width:85px;
    height:85px;
    border-radius:50%;
    background:#fff;
    padding:5px;
    margin-bottom:15px;
}

.login-header h2{
    margin:0;
    font-size:24px;
}

.login-header p{
    margin-top:8px;
    color:#e6e6e6;
    font-size:14px;
}

/* Form */

.login-body{
    padding:25px;
}

.form-group{
    margin-bottom:18px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    color:#444;
    font-weight:600;
}

.form-group i{
    color:#005b1f;
    margin-right:8px;
}

.form-group input{
    width:100%;
    box-sizing:border-box;
    padding:13px 15px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:15px;
    transition:.3s;
}

.form-group input:focus{
    outline:none;
    border-color:#0b7a34;
    box-shadow:0 0 6px rgba(11,122,52,.3);
}

/* Button */

.btn-login{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#f4b400;
    color:#003d17;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.btn-login:hover{
    background:#e0a500;
}

/* Link */

.login-footer{
    text-align:center;
    padding:18px;
}

.login-footer a{
    text-decoration:none;
    color:#005b1f;
    font-weight:bold;
}

.login-footer a:hover{
    color:#0b7a34;
}

/* Responsive */

@media(max-width:600px){

.login-container{
    margin:20px;
}

.login-header{
    padding:25px 15px;
}

.login-header img{
    width:70px;
    height:70px;
}

.login-header h2{
    font-size:21px;
}

}